@if(camtoken){
<div class="row">
    Token camera
    <p class="text-body-secondary" i18n>The generation of the token allows it to be passed as a parameter of the pages to avoid authentication.</p>
</div>
<div id ="cam_token" class="row">
    <div class="row g-1 ms-2">
        <div class="col">
            <div class="input-group">
                <input class="form-control form-control-sm token" type="text" name="cam_token" [(ngModel)]="camtoken.cam_token" disabled>
                <button class="btn btn-sm btn-outline-secondary clipboard" i18n-title="Add to clipboard" (click)="copyToClipboard(camtoken.cam_token)"><i class="bi bi-clipboard"></i></button>
                <button class="btn btn-sm btn-outline-secondary get" i18n-title="Generate" i18n (click)="setToken()">Generate</button>
                <button class="btn btn-sm btn-outline-secondary delete" i18n-title="Reset" i18n (click)="deleteToken()">Reset</button>
            </div>
            <a id="cam_pic_new" href="/cam/cam_pic_new?cam_token={{camtoken!.cam_token}}" target="_blank" i18n>Stream view</a>
            <a id="cam_pic" href="/cam/cam_pic?cam_token={{camtoken!.cam_token}}" target="_blank" i18n>Last Picture</a>
        </div>
    </div>
</div>
}
