<div class="container-fluid px-0 m-auto" style="height: 100vh;">
@if (backend_ready) {
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  <div class="form-signin center-25 m-auto shadow-sm">
    <form id="login" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="needs-validation" [ngClass]="{'was-validated':loginForm.form.touched}">
        <h1 class="h3 mb-3 fw-normal" i18n>Please sign in</h1>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input class="form-control" [(ngModel)]="login.username" #name="ngModel" name="username" placeholder="Username" type="text" aria-label="Username" required autofocus>
            <div [hidden]="name.valid || name.pristine"  class="invalid-feedback">Name is required</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
            <input class="form-control" [(ngModel)]="login.password" #password="ngModel" name="password" placeholder="Password" type="password" aria-label="Password" required>
            <div [hidden]="password.valid || password.pristine" class="invalid-feedback">Password is required</div>
        </div>
        @if (register) {
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
            <input class="form-control" [(ngModel)]="login.password_2" #password_2="ngModel" name="password_2" placeholder="Password" type="password" aria-label="Password" required>
            <div [hidden]="password_2.valid || password_2.pristine" class="invalid-feedback">Password is required</div>
        </div>
        }
        <div class="form-check mb-3" [hidden]="register">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="remember" [(ngModel)]="login.remember" [disabled]="register">
            <label class="form-check-label" for="flexCheckDefault">Remember me</label>
        </div>
        <input id="next" name="next" type="hidden" [(ngModel)]="login.next">
        <button class="btn btn-primary w-100 py-2" type="submit" name="submit" value="Sign in" [disabled]="!loginForm.form.valid">
          <span class="spinner-border spinner-border-sm" aria-hidden="true" [hidden]="!spinner()"></span>
          <span role="status" [hidden]="spinner()">Sign in</span>
        </button>
    </form>
    <div class="text-center mt-3" [hidden]="!message$()"><small class="text-danger-emphasis">{{message$()}}</small></div>
    <p class="mt-2 text-body-secondary">&copy; 2017–2023</p>
  </div>
  <app-second-factor></app-second-factor>
}
@else {
  <div class="h-100 bg-primary">
    <div class="d-flex justify-content-center center-25">
      <div class="spinner-border text-light" role="status" style="width: 10rem; height: 10rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5 center-25">
      <h3 class="text-light">Backend service not ready, please wait...</h3>
    </div>
  </div>
}
</div>
