<div class="container-fluid overflow-auto px-5 py-2">
  <div class="row">
    <div class="row"><h4 class="p-0" i18n>Settings</h4></div>
    <hr class="p-0 ">
    <app-adm-users></app-adm-users>
    <hr class="mt-3">
    <app-adm-options></app-adm-options>
    <hr class="mt-3">
    <app-adm-macros></app-adm-macros>
    <hr class="mt-3">
    <app-camera-token></app-camera-token>
    <hr class="mt-3">
    <app-api-token></app-api-token>
    <hr class="mt-3">
    <app-adm-user-buttons></app-adm-user-buttons>
    <hr class="mt-3">
    <app-adm-rsync></app-adm-rsync>
    <hr class="mt-3">
    <app-adm-multiview></app-adm-multiview>
    <hr class="mt-3">
    <app-log-level-mode></app-log-level-mode>
  </div>
</div>
