<div class="offcanvas offcanvas-start offcanvas-size-xl" tabindex="-1" id="motionExternal" aria-labelledby="motionExternalLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="motionExternalLabel">Motion Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (show_all){
        <button class="btn btn-sm btn-outline-secondary" id="show" role="button" i18n>Show</button>
        } @else{
        <button class="btn btn-sm btn-outline-secondary" id="show_all" role="button" i18n>Show All</button>
        }
        <button class="btn btn-sm btn-outline-secondary" id="save" role="button" i18n>Save</button>
        <button class="btn btn-sm btn-outline-secondary" id="backup" role="button" i18n>Backup</button>
        <button class="btn btn-sm btn-outline-secondary" id="restore" data-bs-toggle="modal" data-bs-target="#upload-modal" role="button" i18n>Restore</button>
        <form id="motion_settings" class="row needs-validation">
            <div class="row g-3">
                <label class="col col-form-label">Framerate</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="100" name="framerate" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Min Framerate</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="2147483647" name="minimum_framerate_time" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Netcam Url</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" maxlength="4095" name="netcam_url" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Netcam UserPass</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" maxlength="4095" name="netcam_userpass" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Switch filter</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="bool" name="switch_filter" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Threshold</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="2147483647" name="threshold" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Threshold tune</label>
                <div class="col">
                    <select class="form-select form-select-sm" name="threshold_tune">
                        <option value="0">Off</option>
                        <option value="1">On</option>
                    </select>
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Noiselevel</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="10" name="noiselevel" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Noiselevel tune</label>
                <div class="col">
                    <!--<select class="form-select form-select-sm" name="noiselevel_tune">
                        <option value="0" {{ 'selected' if raspiconfig.noiselevel_tune|int == 0  }}>Off</option>
                        <option value="1" {{ 'selected' if raspiconfig.noiselevel_tune|int == 1  }}>On</option>
                    </select>-->
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Despeckle</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" name="despeckle" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Area_detect</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="999999999" name="area_detect" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Mask file</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" maxlength="4095" name="mask_file" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Smart mask speed</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="10" name="smart_mask_speed" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">lightswitch</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="100" name="lightswitch" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">Min. motion frames</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="1000" name="minimum_motion_frames" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">gap</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="number" min="0" max="2147483647" name="gap" value="60">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">On Event start</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" maxlength="4095" name="on_event_start" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">On Event end</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" maxlength="4095" name="on_event_end" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">On Motion detected</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" maxlength="4095" name="on_motion_detected" value="">
                </div>
            </div>
            <div class="row g-3">
                <label class="col col-form-label">On Area detected</label>
                <div class="col">
                    <input class="form-control form-control-sm" type="text" maxlength="4095" name="on_area_detected" value="">
                </div>
            </div>
        </form>
    </div>
    @if (!motion_ready) {
      <h1>Motion not running. Put in detection state</h1>
    }
</div>
<app-modal-upload></app-modal-upload>
