<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="up" viewBox="0 0 16 16">
      <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
  </symbol>
  <symbol id="left" viewBox="0 0 16 16">
      <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
  </symbol>
  <symbol id="right" viewBox="0 0 16 16">
      <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
  </symbol>
  <symbol id="down" viewBox="0 0 16 16">
      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
  </symbol>
</svg>
<div class="container-fluid text-center">
    <div alt="Up" id="arrowUp" class="row" cmd="up">
        <svg width="64" height="64" fill="currentColor" class="bi bi-arrow-up-square-fill"><use href="#up"></use></svg>
    </div>
    <div class="row justify-content-center">
        <div alt="Left" id="arrowLeft" class="col-2" cmd="left">
            <svg width="64" height="64" fill="currentColor" class="bi bi-arrow-left-square-fill"><use href="#left"></use></svg>
        </div>
        <div alt="Right" id="arrowRight" class="col-2" cmd="right">
            <svg  width="64" height="64" fill="currentColor" class="bi bi-arrow-right-square-fill"><use href="#right"></use></svg>
        </div>
    </div>
    <div alt="Down" id="arrowDown" class="row" cmd="down">
        <svg width="64" height="64" fill="currentColor" class="bi bi-arrow-down-square-fill"><use href="#down"></use></svg>
    </div>
</div>
