<div id="filtering" class="row row-cols-sm-auto mt-1 g-1">
  <label class="col-2 col-md-1 col-form-label-sm" i18n>Ordering</label>
  <div class="col-10 col-md">
      <select class="form-select form-select-sm" name="sort_order" [(ngModel)]="thumbsService.sort_order">
          <option value="asc" i18n>Ascending</option>
          <option value="desc" i18n>Descending</option>
      </select>
  </div>
  <label class="col-2 col-md-1 col-form-label-sm" i18n>Types</label>
  <div class="col-10 col-md">
      <select class="form-select form-select-sm" name="show_types" [(ngModel)]="thumbsService.show_types">
          <option value="both" i18n>Images & Videos</option>
          <option value="image" i18n>Images only</option>
          <option value="video" i18n>Videos only</option>
      </select>
  </div>
  <label class="col-2 col-md-1 col-form-label-sm" i18n>Filter</label>
  <div class="col-10 col-md">
      <select class="form-select form-select-sm" name="time_filter" [(ngModel)]="thumbsService.time_filter">
          <option value="1" i18n>All</option>
          @for (i of [2,4,6,8]; track i){
          <option value="{{i}}">{{(i-2) * 24}} - {{(i-1) * 24}} hours old</option>
          }
          <option value="{{time_filter_max}}">{{(time_filter_max-2) * 24}} hours old</option>
      </select>
  </div>
  <label class="col-2 col-md-1 form-check-label">AutoRefresh</label>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" name="autorefresh" [(ngModel)]="thumbsService.autorefresh">
  </div>
  <div class="col-auto ms-auto" [hidden]="!display_preview()">
    <button id="hide-preview" class="btn" style="border-style: none;" (click)="hiddenPreview()"><i class="bi bi-arrow-bar-up"></i></button>
  </div>
</div>
